@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto';
    overflow-x: hidden;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
input{
    border:none;
    border-bottom: 1px solid #333;
    width: 65vw;
    margin :10px;
    background-color: transparent;
}
input:focus{
    outline: none;
    background-color: #fff;
    transition: .3s ease;
}
.label{
    position:absolute;
    font-size: 18px;
    top:-20px;
    left: 10px;
}

.btn{
    border-radius: 7px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 40px;
    align-self: center;
}
.btn:focus{
    outline: none;
    transform: scale(.97);
}
.item{
    width: 150px;
    height: 150px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    height: 50vh;
}

